
<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>
<div class="card border-primary mb-3">
  <div class="card-header">Clentes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado Clientes</h5>
    <div class="my-2 text-left">
      <button class="btn bnt-rounded btn-primary" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>

    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0 else sinDatos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            <img alt="Sin Foto" style="width: 64px;cursor: pointer;" (click)="mostrarModal(cliente)" *ngIf="cliente?.foto" src="http://localhost:8080/api/clientes/cargues/img/{{cliente.foto}}" class="img-thumbnail rounded">
          </td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase}}</td>
          <td>{{cliente.correo}}</td>
          <td>{{cliente.creacion | date:'EEEE dd, MMMM yyyy'}}</td>
          <td>
            <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/clientes/form',cliente.id]" >Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" class="btn btn-danger" (click)="eliminar(cliente)" >Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #sinDatos>
      <div class="alert alert-info">
        Sin datos en la BD
      </div>
    </ng-template>
    <app-paginador *ngIf="paginador" [paginador]="paginador"></app-paginador>
  </div>
</div>