<div class="card bg-dark text-white">
<ul class="alert alert-danger" *ngIf="errores?.length> 0">
    <li *ngFor="let e of errores">
        {{e}}
    </li>
</ul>

    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form #formularioClientes="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre"  name="nombre"  #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            El nombre es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido">
                </div>
            </div>

            <div class="form-group row">
                <label for="correo" class="col-form-label col-sm-2">Correo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.correo" email #correo="ngModel" name="correo">
                    <div class="alert alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                        <div *ngIf="correo.errors.email">
                            El nombre debe terner formato de correo
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="fecha" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">                 
                    <input name="fecha" style="display: inline; width: 300px;" class="form-control" [(ngModel)]="cliente.creacion" matInput [matDatepicker]="selFecha">
                    <mat-datepicker-toggle [for]="selFecha" ></mat-datepicker-toggle>
                    <mat-datepicker #selFecha></mat-datepicker>
                </div>
            </div>

            <div class="form-group row">
                <label for="fecha" class="col-form-label col-sm-2">Región:</label>
                <div class="col-sm-6">                 
                    <select  [compareWith]="compararRegion" name="region" style=" width: 300px;" class="form-control" [(ngModel)]="cliente.region">
                        <option  [ngValue]="undefined" >Seleccione una región...</option>
                        <option *ngFor="let region of regiones" [ngValue]="region" >{{region.nombre}}</option>
                   </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button *ngIf="!cliente.id else elseBlock" role="button" class="btn btn-primary" [disabled]="!formularioClientes.form.valid" (click)="crear()">Crear</button>
                    <ng-template #elseBlock>
                        <button  role="button" class="btn btn-primary" [disabled]="!formularioClientes.form.valid" (click)="actualizar()">Editar</button>
                    </ng-template>
                </div>
            </div>

        </form>

    </div>

</div>
